@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* section 1 */
.section1 {
  margin: auto;
  border: 2px solid rgba(230, 0, 0, 0.5);
  background-image: url("img/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.section1 > div {
  margin-bottom: 10px;
}

#emot-health {
  color: red;
}

.nyawa {
  font-size: small;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.konten {
  text-align: center;
}

/* end section 1 */

/* section 2 */
.section2 > .serang > button {
  border: none;
  color: #fff;
  background-color: red;
  padding: 5px;
  border-radius: 5px;
}

.section2 > .serang > button:hover {
  border: none;
  color: #fff;
  background-color: #8a1b13;
  padding: 5px;
  border-radius: 5px;
}
